.menu {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  align-items: flex-start;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .menu {
    bottom: 20px;
    right: 10px;
  }
}
