@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&subset=japanese");

.body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: hsl(120, 8%, 10%);
  color: white;
  font-family: arial;
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    z-index: -1;
    opacity: 0;
  }
}

.fade-in {
  animation: 0.25s ease-in fadeIn 0.2s both;
}

@keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.blur-in {
  animation: 0.5s linear blurIn 0.5s both;
}

@font-face {
  font-family: "Encient German Gothic";
  src: url("../assets/Germgoth.eot") format("eot"),
    url("../assets/Germgoth.woff") format("woff"),
    url("../assets/Germgoth.ttf") format("truetype"),
    url("../assets/Germgoth.svg#EncientGermanGothic") format("svg");
  font-weight: normal;
  font-style: normal;
}
